{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
<title>Segmented Ride Map</title>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<style>
path:hover {
  stroke: yellow;
}
</style>
</head>
<body>
<div id="loading">LOADING</div>
<div id="map" style="height: 400px">
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{% static 'matcher/map.js' %}"></script>
</body>
</html>

